<!DOCTYPE html>
<html>
   <head>
      <title>Job APP</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <% include partials/UserNav.ejs %>
      <div class="container">
         <div class="jumbotron">
            <h1 class="display-3">Hello</h1>
            <p class="lead">Simple Node Express and MongoDb Application For Jobs</p>
            
         </div>
      </div>
   </body>
</html>